upstream wordpress_akhlaqfood {
    server wordpress_akhlaqfood:9000;
}

server {
    listen 80;
    server_name akhlaqfood.${APP_DOMAIN};
    location /.well-known/acme-challenge/ { 
        root /var/www/certbot;
    }
    location / { 
        return 301 https://$host$request_uri; 
    }
}

server {
    listen 443 ssl;
    server_name akhlaqfood.${APP_DOMAIN};
    ssl_certificate /etc/letsencrypt/live/${APP_DOMAIN}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${APP_DOMAIN}/privkey.pem;

    root /var/www/html;
    index index.php index.html;
    client_max_body_size 20M;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_pass wordpress_akhlaqfood:9000;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param HTTPS on;
    }

    # Cache static assets
    location ~* \.(jpg|jpeg|png|gif|ico|svg|webp)$ {
        expires 1y;
        add_header Cache-Control "public, immutable";
        add_header Vary Accept-Encoding;
    }

    location ~* \.(css|js)$ {
        expires 1y;
        add_header Cache-Control "public, immutable";
        add_header Vary Accept-Encoding;
    }
}