.git
.env
.DS_Store
node_modules
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar/*
.dockerignore
README.md
package.json
package-lock.json
vite.config.js
**/public/storage
**/node_modules
**/vendor
.git