APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:CWrFTcy4LNYePvqSiwFKRNmW1Cg+oTocScPv5KJSzrY=
APP_DEBUG=false
APP_URL=http://api.mydomain.com
ADMIN_BACKEND_URL=http://admin-api.mydomain.com
FRONTEND_URL=http://mydomain.com

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=business_directory
DB_USERNAME=b2buser
DB_PASSWORD=b2bpass

SESSION_DRIVER=database
QUEUE_CONNECTION=database
CACHE_STORE=database

REDIS_HOST=redis

SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=http://meilisearch:7700
MEILISEARCH_KEY=ZzzkBci3kOhsxdDd0YvmlcJO8lnev56LZ_fjkV9Ag67

HASHIDS_SALT=your-secret-salt

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://mydomain.com/user/auth/google/callback
